.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid  img{
    margin-left: 5px;
    width: 250px;
    padding: 22px;
    margin-top: 30px;
}

.ars{
    text-align: center;
    font: 2em Arial, sans-serif;
    text-shadow: gold 0 0 5px;
}